<div class="row">
  <div class="col-sm">
    <img [src]="recipe.imagePath"
         alt="{{recipe.name}}"
         class="img-fluid"
         style="max-height: 100px"
    >
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Button dropdown <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-sm">
    Ingredients
  </div>
</div>
