<div class="row">
  <div class="col-sm">
    <img [src]="recipe.imagePath"
         alt="{{recipe.name}}"
         class="img-fluid"
         style="max-height: 100px"
    >
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" (click)="addIngredientsToShoppingList()">Add to Shopping List</a>
        </li>
        <li role="menuitem"><a class="dropdown-item">Edit Recipe</a></li>
        <li role="menuitem"><a class="dropdown-item">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h4>Ingredients</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of recipe.ingredients">
        Name: <strong>{{ing.name}}</strong> - <strong>{{ing.amount}}</strong>
      </li>
    </ul>

  </div>
</div>
